/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FBF6E2;
}

/* Body CSS */
body{
    font-family: 'Roboto', sans-serif;
    background-color: #131842;
    height: 100vh;
    width: 100%;
}

/* Header CSS */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #E68369;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Logo and nav */
header a{
    text-decoration: none;
    color: #FBF6E2;
}
header h1 {
    color: #FBF6E2;
}
header nav ul{
    display: flex;
    list-style: none;
}
header nav ul li{
    margin-right: 20px;
}
header nav ul li a{
    text-decoration: none;
    color: #ECCEAE;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
header .menu-btn {
    display: none;
}
header img {
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    cursor: pointer;
}

/* Principal CSS */

.box-content{
    width: 60%;
    margin: 0 auto;
}

/* About Me Principal */
.main_principal-aboutme{
    display: flex;
    justify-content: space-between;
    padding: 4.375rem 0;
    gap: 30px;
}
.box_aboutme1{
    width: 50%;
    text-align: center;
}
.box_aboutme1 img{
    width: 90%;
    border-radius: 20px;
    margin-bottom: 20px;
}

/* About me / About me Page */
.box_aboutme2{
    width: 50%;
    text-align: center;
}
.box_aboutme2 h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.aboutme2__text{
    font-size: 20px;
    margin-bottom: 30px;
}
.box_aboutme2__email{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
}
.box_aboutme2__email a{
    color: #E68369;
    text-decoration: none;
}
.box_aboutme2__email a:hover{
    text-decoration: underline;
}
.box_aboutme2__country{
    font-size: 20px;
    margin-bottom: 2.6rem;
    text-align: left;
}
.box_aboutme2__country span{
    color: #E68369;
}

/* Skills CSS */
.box_aboutme2__skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3.125rem;
}
.box_aboutme2__skills h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.box_aboutme2__skills ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box_aboutme2__skills ul li{
    margin: 10px;
    padding: 10px 20px;
    background-color: #E68369;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    list-style: none;
}
.box_aboutme2__skills ul li:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

/* Social Media */
.box_aboutme2__socialMedia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}
.title_socialMedia{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.link__socialMedia{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px 20px;
    background-color: #E68369;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    text-decoration: none;
    color: #FBF6E2;
}
.link__socialMedia:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.socialMedia{
    margin: 10px;
}
.socialMedia img{
    width: 50px;
    height: 50px;
    border-radius: 10%;
    margin: 10px;
    cursor: pointer;
}

/* Intro CSS */
#intro{
    padding: 50px 0;
}

#intro h2{
    margin: 20px 0;
}

#intro h2 a{
    color: #E68369;
    text-decoration: none;
    font-size: 2.5rem;
}
#intro p{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

/* Programming box CSS */
.programming_box{
    padding: 50px 0;
    font-family: "Roboto", sans-serif;
}
.programming_box h2 a{
    color: #E68369;
    text-decoration: none;
    font-size: 2.5rem;
}
.programming_box h2{
    margin: 20px 0;
}
.projects__programming_box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.project{
    display: flex;
    flex-direction: column; /* Organiza los elementos verticalmente */
    justify-content: space-between; /* Espacio entre el contenido y los enlaces */
    height: 100%; /* Asegúrate de que los proyectos ocupen el espacio completo */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #E68369;
}
.title_project{
    font-size: 30px;
    margin-bottom: 20px;
    margin: 1.25rem 0;
}
.description_project{
    font-size: 20px;
    margin-bottom: 20px;
}
.toggle-checkbox {
    display: none; /* Ocultar el checkbox */
}
.more-text {
    display: none; /* Ocultar el texto adicional por defecto */
}
.toggle-checkbox:checked + .toggle-label + .more-text {
    display: block; /* Mostrar el texto adicional cuando el checkbox está marcado */
    margin: 1.25rem 0;
    font-size: 1.2rem;
}
.toggle-label {
    cursor: pointer;
    color: #131842;
    text-decoration: underline;
    margin: 0 10px 10px 0;
    display: inline-block;
    font-size: 15px;
}
.image_container--Project{
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;
}
.image_container--Project img{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra la imagen */
    transition: transform 0.3s ease; /* Para que se vea el efecto de hover */
    background-color: black;
}
.image_container--Project img:hover{
    transform: translate(-50%, -50%) 
    scale(1.1); /* Efecto hover para agrandar la imagen */
}
.show_project{
    margin-top: auto; /* Empuja los enlaces hacia abajo */
    display: flex;
    gap: 10px; /* Espacio entre los enlaces */
    justify-content: center; /* Centra los enlaces */
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}
.show_project a{
    text-decoration: none;
    color: #fff;
    background-color: #131842;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.show_project a:hover {
    background-color: #0056b3;
}

/* Programming languages */

.programming_languages__box{
    padding: 50px 0;
}
.programming_languages__box h3{
    color: #E68369;
    font-size: 2.5rem;
    margin: 20px 0;
}    
.languages_box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 70%;
    margin: 0 auto;
}
.language{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #E68369;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.language img{
    width: 110px;
    height: 110px;
    border-radius: 10%;
    margin: 10px;
    cursor: pointer;
}
.language img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

/* Story Principal CSS */
.writing_box{
    padding: 50px 0;
}
.writing_box h2 a{
    color: #E68369;
    font-size: 2.5rem;
    text-decoration: none;
}
.writing_box h2{
    margin-bottom: 20px;
}
.storyPrincipal__writing_box{
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.titleStory__box{
    font-size: 30px;
    margin-bottom: 20px;
}
.descriptionStory__box{
    font-size: 20px;
    margin-bottom: 20px;
}
hr{
    margin-bottom: 20px;
}
.iframe-container{
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.storyPrincipal__writing_box a{
    color: #E68369;
    text-decoration: none;
    font-size: 1.25rem   ;
}
.storyPrincipal__writing_box a:hover{
    text-decoration: underline;
}

/* Aside CSS */
aside {
    display: flex;
    padding: 50px 0;
    justify-content: center;
}
form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 60%;
}
.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.input-group label{
    font-size: 20px;
    margin-bottom: 10px;
}
.input-group input{
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #E68369;
    border-radius: 20px;
    outline: none;
    font-size: 1.1rem;
}
.input-group input:hover{
    background-color: #e69783;
}
.input-group textarea{
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #E68369;
    border-radius: 20px;
    outline: none;
    font-family: "Roboto", sans-serif;
}
form h2{
    color: #E68369;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
form label{
    color: #FBF6E2;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
form input, form textarea{
    padding: 17px 25px;
    margin-bottom: 25px;
    border: 2px solid #F0FAF1;
    border-radius: 25px;
    background-color: #EDFFF0;
    color: #283629;
    outline: none;
}
.form-txt{
    margin-bottom: 30px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.form-txt a{
    color: #E68369;
    text-decoration: none;
    margin: 0 10px;
}
.form-txt a:hover{
    text-decoration: underline;
}
.form-txt a:visited{
    color: #E68369;
}
.btn{
    padding: 15px 25px;
    border: none;
    border-radius: 25px;
    background-color: #E68369;
    color: #FBF6E2;
    font-size: 15px;
    cursor: pointer;
    outline: none;
}

/* Footer CSS */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #E68369;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Media Queries */
@media (max-width: 1020px) {

    /* Mostrar el botón de menú */
    button.menu-btn{
        display: flex;
        background: none;
        border: none;
        cursor: pointer;
        width: 50%;
        justify-content: right;
    }
    header img {
        display: block;
        margin: 0 30px;
        text-align: right;
        background: none;
        border: none;
        text-align: center;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 50px;
    }
    header h1{
        margin: 0 20px;
    }
    header nav ul li a {
        font-size: 1.125rem;
    }
    header nav ul {
        display: none;
        flex-direction: column;
        background-color: #E68369;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        padding: 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
    header nav ul li {
        margin: 10px 0;
        text-align: center;
    }
    header nav ul.show-menu {
        display: flex; /* Muestra el menú cuando se abre */
    }

    /* About Me Configuration*/
    .main_principal-aboutme{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box_aboutme1{
        width: 100%;
        text-align: center;
    }
    .box_aboutme1 img{
        width: 70%;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .box_aboutme2{
        width: 100%;
        text-align: center;
    }
    .box_aboutme2 h2{
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    .box_aboutme2__socialMedia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }
    .title_socialMedia{
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    .link__socialMedia{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 10px 20px;
        background-color: #E68369;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        font-size: 20px;
        text-decoration: none;
        color: #FBF6E2;
    }
    .link__socialMedia:hover{
        transform: scale(1.1);
        transition: 0.5s;
    }
    .socialMedia{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem;
    }
    .socialMedia img{
        width: 50px;
        height: 50px;
        border-radius: 10%;
        margin: 10px;
        cursor: pointer;
    }
    .socialMedia img:hover{
        transform: scale(1.1);
        transition: 0.5s;
    }
    .socialMedia a{
        font-size: 20px;
        text-decoration: none;
        color: #FBF6E2;
    }
    
    /* Intro */
    #intro h2 {
        font-size: 2.5rem;
    }

    /* Projects and Languages */
    .programming_box h2 {
        font-size: 40px;
    }
    .title_project{
        font-size: 1.3rem;
    } 
    .description_project {
        font-size: 1.2rem;
    }
    .image_container--Project{
        width: 300px;
        height: 300px;
        margin: 0 auto;
        margin-bottom: 1.2rem;
        margin-top: 1.2rem;
    }
    .image_container--Project img{
        width: 300px;
        height: 300px;
    }
    .show_project{
        margin: 1.25rem 0;
    }
    .storyPrincipal__writing_box {
        width: 90%;
    }
    .programming_languages__box h3 {
        font-size: 40px;
    }
    .languages_box {
        grid-template-columns: 1fr; /* Single column for smaller screens */
    }
    .language {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 10rem;
        margin: 0 auto;
        background-color: #E68369;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
    .projects__programming_box {
        grid-template-columns: 1fr; /* Single column for smaller screens */
    }

    /* Form CSS */
    form {
        width: 100%;
        padding: 30px;
    }
    .form_aboutMe{
        width: 60%;
        padding: 20px;
    }
    .input-group input{
        font-size: 1.1rem;
    }
    form h2 {
        font-size: 40px;
    }
    form input, form textarea {
        padding: 15px;
        margin-bottom: 20px;
    }
    .btn {
        padding: 12px 20px;
        font-size: 14px;
    }

/* Further adjustments for mobile screens */
@media (max-width: 768px) {

    /* Show Menu Button */
    button.menu-btn{
        display: flex;
        background: none;
        border: none;
        cursor: pointer;
        width: 50%;
        justify-content: right;
    }

    /* Header */
    header img {
        display: block;
        margin: 0 30px;
        text-align: right;
        background: none;
        border: none;
        text-align: center;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 50px;
    }
    header h1{
        margin: 0 20px;
    }
    header nav ul li a {
        font-size: 1.125rem;
    }
    header nav ul {
        display: none;
        flex-direction: column;
        background-color: #E68369;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        padding: 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
    header nav ul li {
        margin: 10px 0;
        text-align: center;
    }
    header nav ul.show-menu {
        display: flex; /* Muestra el menú cuando se abre */
    }

    /* About Me */
    .main_principal-aboutme{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box_aboutme1{
        width: 100%;
        text-align: center;
    }
    .box_aboutme1 img{
        width: 90%;
        border-radius: 20px;
        margin-bottom: 20px;
        height: 400px;
    }
    .box_aboutme2{
        width: 100%;
        text-align: center;
    }
    .box_aboutme2 h1{
        font-size: 3.125rem;
        margin-bottom: 20px;
    }
    .aboutme2__text{
        font-size: 20px;
        margin-bottom: 20px;
    }

    /* Social Media */
    .link__socialMedia{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem;
        width: 50%;
        margin: 0 auto;
    }
    .socialMedia img{
        width: 50px;
        height: 50px;
        border-radius: 10%;
        margin: 10px;
        cursor: pointer;
    }
    
    /* Intro */
    #intro h2 {
        font-size: 2.5rem;
    }

    /* Projects and Languages */
    .programming_box h2 {
        font-size: 2.5rem;
    }
    .title_project{
        font-size: 1.3rem;
    }
    .description_project {
        font-size: 1.2rem;
    }
    .image_container--Project{
        width: 200px;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 1.2rem;
        margin-top: 1.2rem;
    }
    .image_container--Project img{
        width: 200px;
        height: 200px;
    }
    .show_project{
        margin: 1.25rem 0;
    }
    .storyPrincipal__writing_box {
        width: 90%;
    }

    .programming_languages__box h3 {
        font-size: 2.5rem;
    }

    /* Footer CSS */
    form {
        width: 100%;
        padding: 30px;
    }
    .form_aboutMe{
        width: 60%;
        padding: 20px;
    }
    form h2 {
        font-size: 40px;
    }
    form input, form textarea {
        padding: 15px;
        margin-bottom: 20px;
    }
    .input-group input{
        font-size: 1.1rem;
    }
    .btn {
        padding: 12px 20px;
        font-size: 14px;
    }
}


/* Further adjustments for mobile screens */
@media screen and (max-width: 630px) {
    /* Show Menu Button */
    button.menu-btn{
        display: flex;
        background: none;
        border: none;
        cursor: pointer;
        width: 50%;
        justify-content: right;
    }

    /* Header */
    header img {
        display: block;
        margin: 0 30px;
        text-align: right;
        background: none;
        border: none;
        text-align: center;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 50px;
    }
    header nav ul.show-menu {
        display: flex; /* Muestra el menú cuando se abre */
        margin-top: 40px;
    }
}

/* Extra small devices (phones, less than 480px) */
@media (max-width: 480px) {

    /* Header */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
    }
    header nav ul li a {
        font-size: 1.125rem;
    }
    header nav ul {
        display: none;
        flex-direction: column;
        background-color: #E68369;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        padding: 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    /* About Me */
    .box_aboutme1 img {
        width: 80%;
        border-radius: 20px;
        margin-bottom: 20px;
        height: 300px;
    }

    /* Main content */
    .box-content {
        width: 80%;
    }

    /* Intro */
    #intro h2 {
        font-size: 30px;
    }

    /* Projects and Languages */
    .programming_box h2 {
        font-size: 30px;
    }
    .image_container--Project{
        width: 200px;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 1.2rem;
        margin-top: 1.2rem;
    }
    .image_container--Project img{
        width: 200px;
        height: 200px;
    }
    .title_project{
        font-size: 1.3rem;
    }
    .description_project {
        font-size: 1.2rem;
    }
    .show_project{
        margin: 1.25rem 0;
    }
    .projects__programming_box {
        grid-template-columns: 1fr; /* Single column for smaller screens */
        justify-content: center;
    }
    .languages_box {
        grid-template-columns: 1fr; /* Single column for smaller screens */
    }
    .languages_box .language{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 10rem;
        margin: 0 auto;
        background-color: #E68369;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
    .languages_box img{
        width: 70px;
        height: 70px;
        border-radius: 10%;
        margin: 10px;
        cursor: pointer;
    }

    /* Form contact*/
    form {
        width: 100%;
        padding: 20px;
    }
    .form_aboutMe{
        width: 80%;
        padding: 20px;
    }
    form h2 {
        font-size: 30px;
    }
    form input, form textarea {
        padding: 10px;
        margin-bottom: 15px;
    }
    .input-group input {
        padding: 10px 15px;
        font-size: 1.1rem;
    }
    .btn {
        padding: 10px 15px;
        font-size: 12px;
    }
}
}